<% include ./partials/header %>

<h1>This is the coffeeshops page!</h1>

<% coffeeshops.forEach(function(coffeeshops){ %>
    <div>
        <h4><%= coffeeshops.name %> </h4>
        <img src="<%= coffeeshops.image %>"> 
    </div>
<% }); %>

<% include partials/footer %>