<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to CoffeeShops</h1>
        <p>View our hand-picked coffeeshops from all over Toronto!</p>
        
        <p>
            <a class="btn btn-primary btn-lg" href="/coffeeshops/new">Add New Coffeshop</a>
        </p>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap">
        <% coffeeshops.forEach(function(coffeeshop) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <img class="card-img-top" src="<%= coffeeshop.image %>" alt="<%= coffeeshop.name %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= coffeeshop.name %></h5>
                    <a href="/coffeeshops/<%= coffeeshop._id%>" class="btn btn-primary">More Info</a>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
<% include ../partials/footer %>
</div>